.footer__inner {
  /* 아이콘 배치 */
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  background-color: var(--mainBg100);

  /* 하단 고정 */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
}
