@charset "UTF-8";

/* setting */
@import url('./setting/_vars.css');
@import url('./setting/_reset.css');

/* 전역 설정 */

body {
  color: var(--white);
  background-color: var(--mainBg300);
  margin: 0;
  padding: 0;
}
