header img {
  width: 2.5rem;
}

/* 컨테이너 박스 */
.header__inner {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1rem;
}

/* 왓슈박스 */
.header__logoBox {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.header__logoBox__font {
  font-size: 2rem;
  font-family: var(--titleFont);
}
